version=0.20.0
profile=conventional
break-cases=fit-or-vertical
break-separators=before
break-sequences=true
cases-exp-indent=2
doc-comments=before
dock-collection-brackets=false
field-space=loose
if-then-else=keyword-first
indicate-nested-or-patterns=unsafe-no
let-and=sparse
let-and=sparse
parse-docstrings=true
sequence-style=terminator
space-around-arrays
space-around-lists
space-around-records
type-decl=sparse
wrap-comments=true
