/* <pre> is shared among the original and automatically translated code, so we
 * only hide those containing manually translated code, which would otherwise
 * appear as empty boxes (with a background, because <code> is inline). */
body:not(.reason) pre.language-reason.manually-translated,
body.reason pre.language-ocaml.manually-translated,
body:not(.reason) code.language-reason,
/* Hide the original OCaml code from ReasonML users */
body.reason code.language-ocaml {
	display: none
}
